<!DOCTYPE html>
<html>
  <%= javascript_include_tag "application" %>
  <head>
    <title>ブログ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class=header></div>
  </head>
  
  <% if flash[:notice] %>
      <div id="notice" class="flash">
        <%= flash[:notice] %>
      </div>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>

<script>
  $(function() {
    setTimeout(function() {
      $('#notice').fadeOut("slow")
    }, 2000);
  });
  
//  window.addEventListener("load", function(){
//    myFunction()
//  })
  
//  function myFunction() {
//    var x = document.getElementById("notice")
//      setTimeout(function(){ x.classList.add("show"); }, 3000);
//  }
 
</script>