<!DOCTYPE html>
<html>
  <head>
    <title>ブログ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class=header></div>
  </head>
  
  <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>

<script>
  $(function() {
    setTimeout(function() {
      $('#notice').fadeOut("slow")
    }, 800);
  });
</script>